<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Audio Recorder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Audio Recorder</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col><ion-button (click)="startRecording()">Start Recording</ion-button></ion-col>
    <ion-col><ion-button (click)="stopRecording()">Stop Recording</ion-button></ion-col>
  </ion-row>
</ion-content>
